<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
	</configSections>
	<rebus inputQueue="Rebus.LegacySample:Mailbox" errorQueue="Rebus.LegacySample:Bounces" workers="5">
		<endpoints>
			<add messages="Rebus.LegacySample.Contracts" endpoint="Rebus.LegacySample:Mailbox" />
		</endpoints>
	</rebus>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.6.9.0" newVersion="3.6.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>